body {
	background-color: #ca3433;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.content {
	flex: 1;
}

.menu, .order {
	text-decoration-line: overline underline;
	text-decoration-style: solid;
}

footer {
	flex-shrink: 0;
	text-align: center;
}

@media screen and (max-width: 1000px) {
  .hide {
    display: none;
  }
}

table {
	margin-left: auto;
	margin-right: auto;
}

.header {
	text-align: center;
}

.nav-pills > li > a.active {
    background-color: #f8f9fa !important;
    color: black !important;
}

.nav-pills > li > a:hover {
  color: #000000 !important;
}

.nav-link {
	color: #000000;
}

.nav-pills {
    display: flex;
    justify-content: center;
}

.toppings-body {
	overflow-y: scroll;
	height: 300px;
	display: block;
}

.table-bordered > tbody > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid black;
}

.table-wrapper {
  max-height: 400px;
  overflow: auto;
  display: inline-block;
}

.table-center {
	text-align: center;
}

table > tbody > tr > td {
	text-align: left;
}

.sub {
	width: 450px !important;
}

.pasta, .platter {
	width: 350px !important;
}

.salad {
	width: 250px !important;
}

.login {
	width: 500px;
}

.border {
    border-width: 3px !important;
    border-color: #11760F !important;
}

.card {
	width: 32rem;
}